python-dotenv
ipykernel
langchain
openai
tiktoken 
rapidocr-onnxruntime 
python-dotenv 
langchain-community
faiss-cpu
langchain_openai
langchain-google-genai
langchain-groq
structlog
docx2txt
python-multipart
fastapi
uvicorn
Jinja2
langsmith
pandas